.screen {
    background-color: #dcdbec;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .screen .div {
    background-color: #dcdbec;
    width: 5760px;
    height: 4403px;
    position: relative;
  }
  
  .screen .overlap {
    position: absolute;
    width: 5760px;
    height: 467px;
    top: 0;
    left: 0;
    background-color: #dcdcec;
    box-shadow: 0px 4px 43.9px -17px #00000040;
  }
  
  .screen .text-wrapper {
    left: 4668px;
    position: absolute;
    top: 194px;
    font-family: "Montserrat Alternates-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: underline;
  }
  
  .screen .overlap-group {
    position: absolute;
    width: 775px;
    height: 323px;
    top: 72px;
    left: 94px;
    background-color: #d9d9d9;
  }
  
  .screen .text-wrapper-2 {
    position: absolute;
    top: 83px;
    left: 328px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 128px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .group {
    position: absolute;
    width: 385px;
    height: 385px;
    top: 41px;
    left: 5339px;
    background-color: #d4d3ff;
    border-radius: 192.5px;
    box-shadow: 0px 4px 282.8px #00000040;
  }
  
  .screen .fluent-person {
    position: absolute;
    width: 226px;
    height: 226px;
    top: 80px;
    left: 80px;
  }
  
  .screen .text-wrapper-3 {
    left: 3215px;
    position: absolute;
    top: 194px;
    font-family: "Montserrat Alternates-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: underline;
  }
  
  .screen .overlap-2 {
    position: absolute;
    width: 1717px;
    height: 1592px;
    top: 1016px;
    left: 482px;
  }
  
  .screen .rectangle {
    left: 0;
    position: absolute;
    width: 1425px;
    height: 1592px;
    top: 0;
    background-color: #cbc9ff;
    border-radius: 90px;
    box-shadow: 0px 4px 30px #00000040;
  }
  
  .screen .text-wrapper-4 {
    top: 399px;
    left: 1634px;
    font-family: "Inter-Regular", Helvetica;
    color: #000000;
    position: absolute;
    font-weight: 400;
    font-size: 128px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .arrow {
    position: absolute;
    width: 235px;
    height: 177px;
    top: 490px;
    left: 1402px;
  }
  
  .screen .overlap-3 {
    position: absolute;
    width: 1634px;
    height: 1592px;
    top: 1016px;
    left: 2199px;
  }
  
  .screen .rectangle-2 {
    left: 209px;
    position: absolute;
    width: 1425px;
    height: 1592px;
    top: 0;
    background-color: #cbc9ff;
    border-radius: 90px;
    box-shadow: 0px 4px 30px #00000040;
  }
  
  .screen .img {
    position: absolute;
    width: 216px;
    height: 203px;
    top: 473px;
    left: 0;
  }
  
  .screen .div-wrapper {
    position: absolute;
    width: 1237px;
    height: 2283px;
    top: 719px;
    left: 4295px;
    background-color: #ffcf83;
    border-radius: 618.5px / 1141.5px;
  }
  
  .screen .text-wrapper-5 {
    top: 1063px;
    left: 578px;
    font-family: "Inter-Regular", Helvetica;
    color: #000000;
    position: absolute;
    font-weight: 400;
    font-size: 128px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .overlap-4 {
    position: absolute;
    width: 5760px;
    height: 1092px;
    top: 3311px;
    left: 0;
    background-color: #0b127c;
  }
  
  .screen .text-wrapper-6 {
    top: 386px;
    left: 2818px;
    font-family: "Montserrat Alternates-Regular", Helvetica;
    color: #ffffff;
    position: absolute;
    font-weight: 400;
    font-size: 128px;
    letter-spacing: 0;
    line-height: normal;
  }
  